body {
    font-family: sans-serif;
    font-weight: 300;
    display: flex;
}


/* COLONNES */
.col {
    flex-shrink: 0;
    width: 280px;
    
    padding: 5px;
    
    border-right: 1px solid black;
}
.col a {
    color: black;
    text-decoration: none;
}
.col li a:hover {
    font-style: oblique;
}

.col h1 {
    margin-bottom: 20px;
}

.col #switch {
    margin-bottom: 20px;
}
.col #switch .switchButton {
    padding: 3px;
}
.col #switch .switchButton.active {
    border-style: solid;
    border-color: black;
    background-color: black;
    color: white;
}

.col #switch .switchButton:hover {
    background-color: black;
    color: white;
}




/* Content / Iframe */

#iframe {
    width: 100%;
    height: 100%;
}
#content {
    flex: 1; 
    height: 100%;
    padding: 5px;
    overflow: scroll;
}
#content img {
    width: 100%;
    max-height: 350px;
}
#content iframe {
    width: 100%;
}
#content code {
    background-color: #D8D8D8;
    padding: 2px;
    border-radius: 2px;
}
#content li {
    list-style-type: disc;
    list-style-position: inside;
}
